@using Alpaca.Notes.Web.Common
@model Alpaca.Notes.Web.Models.NoteUser

@{
    ViewBag.Title = @PageName.NoteUsersDelete;
}

<h2>@PageName.NoteUsersDelete</h2>

<h3>@Messages.CAUTION_BEFORE_DELETE</h3>
<div>
    <h4>NoteUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
