
@model IEnumerable<Alpaca.Notes.Web.Models.NoteUser>

@{
    ViewBag.Title = Alpaca.Notes.Web.Common.PageName.NoteUsers;
}
<h2>@Alpaca.Notes.Web.Common.PageName.NoteUsers</h2>

<p>
    <button onclick="window.location.href = '@Url.Action("Create","NoteUsers")'" class="btn btn-default">新規登録</button>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </th>
        <th>
            編集メニュー
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
            </td>
        </tr>
    }

</table>
